VITE_EMAILJS_PUBLIC_KEY=lbWq7x4QHZTUe4LHv
VITE_EMAILJS_SERVICE_ID=service_mohdev
VITE_EMAILJS_TEMPLATE_ID=template_59dd8si
VITE_INSTAGRAM_URL=
VITE_FACEBOOK_URL=
VITE_GITHUB_URL=https://github.com/hamada-cool
VITE_LINKEDIN_URL=https://www.linkedin.com/in/mohamed-ali-ismail-h195/
